.colorBox{
    display:flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* align-items: center; */
   
    width: 25%;
    height: 25%;
    position: relative;
    cursor: pointer; 
}
.copy-box,.empty-box,.other-box{
    height: 33.33%;
 
}

.other-box{
    display: flex;
    justify-content: space-between;
align-items: flex-end;
padding: 2px;
}